body {
	font-family: "Ubuntu";
	font-size: 18px;
	background-color: whitesmoke;
	}
.divPageBody {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divTopPageMessage {
	margin-top: 45px;
	}
.divOutlineContainer {
	margin-left: 50px;
	margin-right: 25px;
	margin-top: 10px;
	margin-bottom: 35px;
	}
.divOutlineTitle {
	font-size: 52px;
	font-weight: bold;
	line-height: 110%;
	margin-top: 45px;;
	text-align: center;
	}
.divOutlineDisplayer {
	font-size: 20px;
	line-height: 135%;
	margin-left: -25px;
	margin-top: 1em;
	}
.divOutlineHead {
	display: none;
	}
.divRenderedOutline .divOutlineText {
	line-height: 145%;
	}
.spLevel1Head {
	font-weight: bold;
	font-size: 1.05em;
	}



